{% extends 'base.html.twig' %}

{% block title 'Candy Shop' %}

{% block body %}
	<div class="jumbotron text-center">
		<div class="container">
			<h1>Bienvenue chez Candy Shop!</h1>
			<p>ceci est est un test</p>
		</div>
	</div>
{% endblock %}