{% extends 'base.html.twig' %}

{% block title 'Tous les maillots' %}

{% block body %}
	<div class="jumbotron text-center">
		<div class="container">
			<h1>Nos maillots!</h1>
			<p>ceci est est un test</p>
		</div>
	</div>
{% endblock %}