<nav class="navbar nav">    
    <div class="nav">
        <a href="{{ path('home') }}" class="navbar-brand brand-logo">Féline</a> 
        <ul class="nav align-content-center">
            <li class="nav-item zoom">
                <a href="{{ path('swimsuit.index') }}" class="nav-link">Notre collection</a>
            </li>
            <li class="nav-item zoom">
                <a href="{{ path('about') }}" class="nav-link">Notre histoire</a>
            </li>
            <li class="nav-item zoom">
                <a href="{{ path('contact') }}" class="nav-link">Nous contacter</a>
            </li>
        </ul>
    </div>          
    <ul class="nav justify-content-end">
        <li class="nav-item zoom">
            <a href="" class="nav-link">Mon compte</a>
        </li>
        <li class="nav-item zoom">
            <a href="" class="nav-link">Mon panier</a>
        </li>
    </ul>
</nav>